
<!DOCTYPE html>
<html>
<head>
    <title>Books with Publisher and Authors</title>
</head>
<body>
    <h1>Books with Publishers and Authors</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.publisher.name }}
                <br>
                Authors:
                {% for author in book.authors.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
